*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*p{
    margin: 0;
}*/
body{
    margin-top: 10%; /*usar con el header fijo */
    background: #aaa;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.foto{
    border-radius: 50%;
    width: 25%;
    height: 150px;
}
aside{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    position: fixed;
    top:40%;
    right: 20px;
}
.text-dark{
    text-align: justify;
    margin: 1%;
}
header{
    position: fixed;
    width: 100%;
    top:0;
}
.loader-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.loader {
    position: absolute;
    left: 0;
    background: #31af51;
    width: 30px;
    height: 100%;
    border: 2px solid #ddd;
    animation: spin 2s linear alternate;
}
@keyframes spin {
    100% {
      transform: translateY(0%);
      background: #31af51;
    }
    0% {
      transform: translateY(100%);
      background: #ac2e2e;
    }
}
nav{
    background: #d44ca7;
}
.navbar-nav{
    display: contents;
}
.logo{
    border-radius: 50%;
    width: 25%;
    font-size: 30px;
    font-weight: 600;
}
.presentacion{
    /*background: url("../img/foto1_fondo.png");*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right top;
}
.botones-modal-enlaces{
    display:flex;
    width: 30%;
    margin: 1%;
    align-items: center;
    justify-content: center;
}
.botones-modal-enlaces > button{
    margin: 1%;
    width: 100%;
}
.certificados{
    display: flex;
    flex-direction: column;
}
.certificados > li, a{
    text-decoration: none;
    color: #7e008a;
}
.sobremi{
    width: 55%;
    border-radius: 20px;
    margin: 1%;
    border: solid #ea00ff 6px;
    background: linear-gradient(90deg, #ff00ff, #00ffff, #ff00ff);
    background-size: 200% 100%;
    text-align: center;
    animation: correr 3s infinite alternate;
    mask-composite: exclude;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes correr{
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: 100% 0;
    }
}
.sobremi > h3{
    margin: 1%;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    margin: 1%;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 125, 0);
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#contacto{
    display: flex;
    justify-content: center;
}
#contacto > ul{
    list-style: none;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

details, .story > p, .libros > p, ul{
    width: 75%;
    font-size: 20px;
}
/* HISTORIA */
.indice{
    display: flex;
    align-items: start;
    justify-content: flex-start;
}
.indice > ul{
    list-style: none;
    margin-bottom: 10%;
}
@media (min-width:1500px) {

}
@media screen and (max-width: 1330px) and (min-width: 700px) {
}
@media (max-width: 991px) {
    .foto{
        width: 30%;
        height: 140px;
    }
}
@media screen and (max-width: 800px) and (min-width: 200px){
    .foto{
        width: 35%;
    }
}
@media screen and (max-width:700px) and (min-width: 300px) {
    .foto{
        width: 40%;
    }
}
@media screen and (max-width: 600px) and (min-width: 300px) {
    .sobremi{
        width: 75%;
    }
}
@media screen and (max-width:500px) and (min-width:100px) {
    .presentacion{
        display:flex;
    }
    .sobremi{
        width: 85%;
    }
    .botones-modal-enlaces{
        flex-direction: column;
        width: 50%;
    }
}
@media(max-width: 400px){
    .foto{
        width: 45%;
    }
}
@media screen and (max-width:350px) and (min-width:100px) {

}