nav{
    background: linear-gradient(#615231, #2e20ac);
}
.logo{
    border-radius: 50%;
}
ul{
    list-style: none;
    text-decoration: none;
}
aside{
    position: fixed;
    display: flex;
}
aside a{
    margin: 10%;
}
.tecnologias > div{
    width: 90%;
}
.tecnologias > div > h3{
    text-align: justify;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}